*
{
    margin: 0;
    padding: 0;  
} 
body
{
    font-family: serif;
}
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
    padding: 0 !important;
}
.navbar-brand img
{
height: 40px    ;
padding-left: 20px  ;
}
.navbar-nav li
{
    padding: 0 10px;
    font-size: 600;
    float: right;
    text-align: left;
}
.navbar-nav li a
{
    color:  #ffff !important;
}
.navbar-toggler
{
    outline: none !important;
}
/* -------------banner----------------------*/
#banner
{
    background-image: linear-gradient(to right, #a517ba,#5f1782);
}
.promo-title
{
    color: #ffff;
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}
.sub-title
{
    color: #ffff;
}
.img-flud
{
    max-height: 440px;
    padding: 0px;
}
.play-btn
{
    height: 40px;
    margin: 20px;
}
#banner a
{
    text-decoration: none;
    color: #ffff;
}
.bottom-img
{
    width: 100%;
    margin: 0px !important;
}
/*-------------------services-----------------------*/
#services
{
    padding: 80px 0;
}
#services img
{
    width: 100px;
    margin-top: 20px;
}
.services
{
    padding: 20px;
}
.services h4
{
    margin-top: 25px;
    padding: 5px;
}
.title::before
{
    display: block;
    content: ' ';
    background: #7b1798;
    height: 5px;
    width: 400px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(63px);
}
.title::after
{
    display: block;
    content: ' ';
    background: #7b1798;
    height: 10px;
    width: 80px;
    margin-right: auto;
    margin-left: auto;
    transform: translateY(8px);
    margin-bottom: 80px;
}
#services .btn-primary
{
    box-shadow: none;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 8px 25px;
}
/*---------------about us--------------------*/
#about-us
{
    background: #f8f9fa ;
    padding-top: 50px;
    padding-bottom: 50px;
}
.about-title
{
    font-size: 40px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li
{
    margin: 10px 0;
}
/*-------------------testimonials--------------------*/
#testimonials
{
    margin: 100px 0;
}
.testimonials
{
    margin-top: 50px;
    margin-bottom: 50px;
    border-left: 4px solid #7b1798;
}
.testimonials img
{
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}
.user-details
{
    display: inline-block;
    font-size: 12px;
}
/*---------------socials----------------*/
#socials
{
    padding: 100px 0;
    background: #f8f9fa;
}
#socials p
{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 40px;
}
#socials img
{
    height: 60px;
    transition: 0.5s;
}
#socials a:hover img
{
    transform: translateY(-10px);
}
/*--------------------footer------------------------*/
#footer
{
    background-image: linear-gradient(to right, #a517ba, #5f1782 );
    color: #ffff;
}
.footer-img
{
    width: 100%;
}
.footer-box img
{
    width: 120px !important;
    margin-bottom: 20px;
}
.footer-box
{
    padding: 20px;
}
.footer-box .fas
{
    margin-right: 7px;
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    font-size: 25px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
}
.footer-box .form-control
{
    max-width: 250px;
    border-radius: 0px;
    border: none;
    box-shadow: none !important;
    margin-top: 25px;
}
.footer-box .btn-primary
{
    border: none;
    background-image: linear-gradient(to right, #a517ba, #5f1782) ;
    border-radius: 0;
    margin-top: 30px;
}
.footer-box hr
{
    color: #ffff;
}
.copyright
{
    margin-bottom: 0;
    padding-bottom: 0;
    text-align: center;
}